.hamburgerMenu {
  height: 30px;
  width: 30px;
}

@media (min-width: 321px) {
  .hamburgerMenu {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 768px) {
  .hamburgerMenu {
    display: none;
  }
}
