.iconJavascript {
  width: clamp(30px, 9vw, 60px);
  height: clamp(30px, 9vw, 60px);
  transition: color 0.25s;
}

.iconJavascript:hover {
  color: #f8dc2c;
}

.iconReact {
  width: clamp(30px, 9vw, 70px);
  height: clamp(30px, 9vw, 70px);
  transition: color 0.25s;
}

.iconReact:hover {
  color: #06d7fe;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconNextdotjs {
  width: clamp(30px, 9vw, 70px);
  height: clamp(30px, 9vw, 70px);
}

/* @media (min-width: 768px) {
  .iconJavascript {
    width: 60px;
    height: 60px;
  }

  .iconReact {
    width: 60px;
    height: 60px;
  }

  .iconNextdotjs {
    width: 60px;
    height: 60px;
  }
} */
